# SPDX-FileCopyrightText: 2025 Sebastian Küthe and (other) contributors to project grafana-oss-team-sync <https://github.com/skuethe/grafana-oss-team-sync>
# SPDX-License-Identifier: GPL-3.0-or-later

# Binaries for programs and plugins
grafana-oss-team-sync

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# env file
.env

# goreleaser
dist/

# Possibly config.yaml copies for testing, but keep main "config.yaml"
configs/*.yaml
!configs/config.yaml

# Python virtualenvs. Mostly used for installing pre-commit and resuse binaries.
venv/
